[Unit]
Description=My first Daemon
After=network.target

[Service]
ExecStart=/usr/local/sbin/my-daemon.sh
Restart=always
RestartSec=5
User=root
Group=root
